/* Fonts import
 *
 * Including necessary text fonts:
 * - OpenSans - text and smaller headlines
 * - Montserrat - large headlines
 */

// OpenSans
@font-face {
    font-family: "OpenSans-Light";
    src: url(../../src/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url(../../src/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url(../../src/fonts/OpenSans-Bold.ttf);
}

// Montserrat
@font-face {
    font-family: "Montserrat-Regular";
    src: url(../../src/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(../../src/fonts/Montserrat-Bold.ttf);
}


/* General markup
 *
 * Initial properties for tags visualisation:
 * - common (for all types of tags)
 * - headlines
 */

// common
body {
    color: #433e3b !important;
    font-size: 16px;
    font-family: "OpenSans-Regular", sans-serif;
    line-height: 24px;

    * {
        border-radius: 0 !important;
    }
}

// headlines
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
} // !warning: multiple rows

h1 {
    font-size: 72px;
    line-height: 72px;
}

h2 {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 20px !important;
}

h3 {
    font-size: 30px;
    line-height: 35px;
}

input[type="checkbox"] {
    display: none;
}

label > input[type="checkbox"] + span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -3px 10px 0 0;
    vertical-align: middle;
    background: url(../images/checkbox.png) left top no-repeat;
    cursor: pointer;
}

label > input[type="checkbox"]:checked + span {
    background: url(../images/checkbox.png) -20px top no-repeat;
}

input:not([type="submit"]), textarea, select, select > option {
    border-color: #e5e5e5 !important;
    font-family: "OpenSans-Light", sans-serif !important;

    &::-webkit-input-placeholder {
        color: #bababa !important;
    }

    &::-moz-placeholder {
        color: #bababa !important;
    }
}

label[for="range"] > span {
    color: #f99a4c;
}

/* Utility
 *
 * Useful properties and separate classes for special oftentimes used elements
 */

.animation {
    transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -webkit-transition: .15s ease-in-out;
}

.breadcrumbs {
    color: #898989;
    float: right;
    font-size: 14px;
    line-height: 60px;
    margin-right: 25px;

    .uk-breadcrumb {
        margin-bottom: 0;
    }

    a {
        color: #898989;

        &:hover {
            color: #898989;
        }
    }
}

.button-border {
    @extend .animation;
    background-color: #fff;
    border: 2px solid #f99a4c;
    color: #f99a4c !important;
    font-family: "OpenSans-Bold", sans-serif !important;
    padding: 10px 50px !important;

    &:hover {
        background-color: #f37812 !important;
        border-color: #f37812;
        color: #fff !important;
    }
}

.button-min, .button-min:focus {
    @extend .animation;
    background-color: transparent;
    border: none;
    border-bottom: 1px dashed transparent;
    color: #f99a4c !important;
    padding: 0;

    &:hover {
        background-color: inherit;
        border-bottom: 1px dashed #f99a4c;
        color: #f37812 !important;
    }
}

.button-search {
    background: url(../images/search.png) no-repeat transparent;
    border: 0;
    height: 25px;
    float: right;
    padding: 0 !important;
    position: relative;
    right: 10px;
    top: -32px;
    width: 24px;
}

.checkbox-list li {
    margin: 5px 0;
}

.cover-headline {
    color: #fff;
    margin: 0;
}

.cover-description {
    color: #fff;
    font-size: 17px;
    margin: 20px auto;
}

.cover-button {
    @extend .animation;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    font-family: "Montserrat-Bold", sans-serif;
    margin: 40px auto 60px !important;
    padding: 10px 75px;
    text-transform: uppercase;

    &:hover, &:active, &:focus {
        background-color: #f37812;
        border-color: #f37812;
        color: #fff;
    }
}

.description-content {
    border-bottom: 1px solid #ddd;
}

.headline-thin {
    font-family: "OpenSans-Light", sans-serif;
}

.headline-aux {
    @extend .headline-thin;
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: none;
}

.headline-underlined {
    border-bottom: 2px solid #f1f1f1;
    font-size: 24px;
    margin-bottom: 25px;

    & > span {
        border-bottom: 2px solid #f99a4c;
        display: inline-block;
        margin-bottom: -2px;
        padding-bottom: 2px;
    }
}

.form-detail {
    .form-item {
        margin: 15px 0;

        label {
            color: #433e3b;
            font-family: "OpenSans-Bold", sans-serif;
            font-size: 14px;
        }

        *:not(label) {
            float: right;
            width: 200px;
        }
    }
}

.input-search {
    padding-right: 40px !important;
}

.link-hidden {
    @extend .animation;
    color: #433e3b;

    &:hover {
        color: #f37812;
        text-decoration: none;
    }
}

.muted {
    color: #898989;
    text-decoration: line-through;
}

.price-big {
    color: #f37812;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 30px;
    line-height: 36px;
    margin: 5px 15px;
}

.price-normal {
    @extend .price-big;
    font-size: 16px;
    line-height: 16px;
    margin: 0 5px;
}

.price-slider {
    margin-bottom: 5px;
}

.record-headline {
    font-family: "OpenSans-Light", sans-serif;;
    font-size: 24px;
    line-height: 30px;
    text-transform: none;
}

.record-headline-mini {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 5px;
    text-transform: none;
}

.record-preview {
    margin-bottom: 15px;
}

.shopping-cart, .shopping-cart:focus {
    background-color: transparent;
    border: none;
    margin-top: 5px;

    &:hover {
        background-color: inherit;
        border: inherit;
        color: #f37812;
    }
}

.separator-empty {
    margin-top: 25px;
}

.separator-vertical {
    background-color: #bababa;
    height: 20px;
    margin: 10px 0;
    position: absolute;
    width: 1px;
}

.small-margin-bottom-group > p {
    margin: 5px 0;
}

.small-logo {
    margin-bottom: 20px;
}

.top-bar .form-short {
    margin-top: 5px;
}

#range {
    margin-bottom: 15px;
}

// webkit
input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    background-color: #fff;
    border: 1px solid #f99a4c;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    background: #f37812;
    margin-top: -6px;
}

input[type=range]:focus {
    outline: none;
}

// moz
input[type=range]::-moz-range-track {
    height: 10px;
    background-color: #fff;
    border: 1px solid #f99a4c;
}

input[type=range]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    height: 20px;
    width: 20px;
    background: #f37812;
    margin-top: -6px;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
    outline: none;
}

// ie
input[type=range]::-ms-track {
    height: 10px;
    background-color: #fff;
    border: 1px solid #f99a4c;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 20px;
    width: 20px;
    background: #f37812;
    margin-top: 0;
}

/* Modules
 *
 * Individual parts of the site:
 * - header (not home)
 * - sidebar
 * - content
 * - footer
 * - other
 */

//header
.top-menu {
    background-color: #f1f1f1;

    .uk-navbar-nav > li > a {
        font-size: 14px !important;
    }
}

// sidebar
.sidebar {
    margin-bottom: 40px !important;
}

// content
.content {
    margin: 30px 0 60px;
}

// footer
.copyright {
    background-color: #433e3b;
    color: #fff;
    font-size: 14px;
    padding: 25px 0;
}

.footer {
    background-color: #f1f1f1;
    margin-bottom: 0 !important;

    hr {
        margin-top: 35px;
    }
}

.footer-detail {
    margin-bottom: 0 !important;
    padding-bottom: 35px;
    padding-top: 75px;
}

.short-form {
    margin-top: 25px;

    h5 {
        font-size: 16px;
        margin-bottom: 10px;
        text-transform: none;
    }
}

.social a {
    @extend .animation;
    background-color: #fff;
    border: none;
    height: 50px;
    line-height: 50px;
    width: 50px;

    &:hover {
        background-color: #f37812;
        color: #fff;
    }
}
