@media (max-width: 767px) {
    .cover-headline {
        font-size: 60px;
        line-height: 65px;
        margin-bottom: 0 !important;
    }
}

@media (min-width: 768px) {
    .footer h3 {
        margin-top: 0 !important;
        margin-bottom: 25px;
    }
}