.uk-navbar {
    background: none;
    border: none;
}

.uk-navbar-nav > li > a {
    border: none !important;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-shadow: none;
}

.uk-navbar-nav > li.uk-open > a,
.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a:focus {
    border: none;
    background: none;
    color: #f9a124;
}

.top-detail-menu {
    .uk-navbar {
        background-color: #f1f1f1;
    }

    .uk-navbar-nav > li > a {
        height: 60px;
        font-size: 17px;
        line-height: 60px;
        padding: 0 30px;
    }

    .active {
        background-color: #f37812;

        & > a {
            color: #fff !important;
        }
    }
}

.uk-close-alt {
    border-radius: 50% !important;
}

.uk-breadcrumb > li:nth-child(2):before {
    content: "";
}

.uk-pagination {
    .uk-active > a {
        background-color: #f37812;
        color: #fff;
    }

    li > a {
        background-color: #fff;
        border: 2px solid #f37812;
        color: #f37812;
        font-weight: bold;
        margin: 0 2px;
        padding: 5px 7px;

        &:hover {
            background-color: #f99a4c;
            border-color: #f99a4c;
            color: #fff;
        }
    }
}

.sidebar .uk-panel {
    margin-bottom: 30px;
}