@import "uk-custom";
@import "uk-custom-general";
@import "settings";
@import "common";
@import "media";

.records-item {
    margin-bottom: 25px;
}

.sorting-bar {
    background-color: #f1f1f1;
    border-top: 1px solid #f37812;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    margin: 35px 0 20px;
    padding: 0 15px;

    form > div {
        display: inline-block;
    }

    .form-item > select {
        margin-left: 10px;
        width: 120px;
    }

    a {
        color: #433e3b;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}