@import "uk-custom";
@import "uk-custom-general";

@import "settings";
@import "common";
@import "media";

.top-bar {
    height: 100px;
}

.options {
    margin: 25px 0 !important;

    input[type="submit"] {
        margin-top: 25px;
    }
}

.description {
    margin: 25px 0 45px;
}

.related-items .button-border {
    font-family: "OpenSans-Regular", sans-serif;
    padding: 0 10px !important;
}

@media (max-width: 767px) {
    .record {
        border-top: 1px solid #ddd;
        padding-top: 30px;
    }
}