@import "settings";
@import "common";
@import "media";
@import "uk-custom";
@import "uk-custom-general";

.top-menu {
    background-color: #f1f1f1;

    .uk-navbar-nav > li > a {
        font-size: 14px !important;
    }
}

.top-bar {
    height: 100px;
}

.short-form {
    margin-top: 0;
}